/* Main Service Schedule */
.landing-page_main-service_schedule {
  background-image: url(../images/background-second-barber-example.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow {
  background-color: rgba(0, 0, 0, 0.85);
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content {
  padding: 5rem 0 7rem 0;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service-schedule-title {
  position: relative;
  padding: 0px 20px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service-schedule-title::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 2px;
  height: 3px;
  background-color: #CBA009;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service {
  padding: 0 3rem;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service-card {
  margin: 10px 20px;
  padding: 0;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service-card .card-active-outline {
  margin: 3px auto;
  bottom: -8px;
  width: 100px;
  height: 2px;
  background-color: #CBA009;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service-card:has(.active-this) .card-active-outline {
  transform: scaleX(1) !important;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service-card:has(.service-10) .card-active-outline {
  width: 250px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service img {
  width: 40px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service {
  position: relative;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service p {
  color: #CBA009;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service .service-img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service .service-img i {
  font-size: 40px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service .service-img i::before {
  display: flex;
  justify-content: center;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service .service-img img {
  width: 40px;
  height: 40px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule {
  padding: 0 0rem;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .table-service {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content {
  padding: 0.55em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content .info-service-img {
  margin-bottom: 5px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content .info-service-img p {
  margin-top: 8px;
  margin-bottom: 0;
  color: #181818;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content .info-service-img img {
  width: 250px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content .info-service-all p {
  margin-top: 8px;
  margin-bottom: 0;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content.active {
  transform: translateY(0);
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule .schedule-content .service-content:not(.active) {
  transform: translateY(100%);
}

/*# sourceMappingURL=main-service-style.css.map */
