/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* General Styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.landing-page_general-shadow {
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Fonts */
.font-montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-bebas-neue-400 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-varela-round-bold {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* Header & Nav Styles */
.landing-page_width-limit {
  margin: 0 auto;
  max-width: 1680px;
}
.landing-page_width-limit .landing-page_header-background {
  background-image: url(../images/background-barber-example.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow {
  background-color: rgba(0, 0, 0, 0.7);
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav {
  height: 100px;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-img {
  height: 100px;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 2px 17px;
  text-shadow: 1px 1px 5px #000000;
  position: relative;
  transition: color 0.3s ease;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: #CBA009;
  transition: width 0.3s ease, left 0.3s ease;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-menu a:hover {
  color: #CBA009;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-menu a:hover::after {
  width: 100%;
  left: 0;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-social a {
  display: inline-block;
  background-color: #FFE200;
  color: black;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 200ms ease;
  width: 30px;
  height: 30px;
}
.landing-page_width-limit .landing-page_header-background .landing-page_header-shadow .landing-page_header-nav .landing-page_header-nav-social a:hover {
  transform: scale(1.1);
}

/* Header & Main Styles */
.header-main .landing-page_header-main-title {
  margin-top: 64px;
}
.header-main .landing-page_header-main-title .landing-page_header-main-title-one {
  font-size: 55px;
  margin-bottom: -30px;
}
.header-main .landing-page_header-main-title .landing-page_header-main-title-two {
  position: relative;
  font-size: 110px;
  padding: 0px 20px;
}
.header-main .landing-page_header-main-title .landing-page_header-main-title-two::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  height: 4px;
  background-color: #CBA009;
}
.header-main .landing-page_header-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 128px;
}
.header-main .landing-page_header-main-content .landing-page_header-main-img {
  background-image: url(../images/barber-img-header-main.webp);
  background-size: cover;
  position: relative;
  z-index: 2;
  width: 550px;
  height: 366px;
  border: 3px solid #CBA009;
  border-radius: 5px;
  margin-right: -50px;
}
.header-main .landing-page_header-main-content .landing-page_header-main-info {
  position: relative;
  z-index: 1;
  width: 550px;
  height: 366px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin-bottom: -100px;
  margin-left: -50px;
}
.header-main .landing-page_header-main-content .landing-page_header-main-info .landing-page_header-main-info-content {
  padding: 20px;
  width: 450px;
}
.header-main .landing-page_header-main-content .landing-page_header-main-info .landing-page_header-main-info-content h5 {
  font-size: 35px;
}
.header-main .landing-page_header-main-content .landing-page_header-main-info .landing-page_header-main-info-content a {
  background-color: #FFE200;
  border: 2px solid #FFE200;
  font-weight: bold;
}
.header-main .landing-page_header-main-content .landing-page_header-main-info .landing-page_header-main-info-content a:hover {
  border: 2px solid #FFE200;
  background-color: rgba(0, 0, 0, 0.01);
}
.header-main .landing-page_header-main-content .landing-page_header-main-info .landing-page_header-main-info-content a .bi::before {
  vertical-align: top;
  margin-top: 4px;
}

/* Main Styles */
/* Main About Us */
.landing-page_main .landing-page_main-about-us .landing-page_main-about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.landing-page_main .landing-page_main-about-us .landing-page_main-about-us-content .landing-page_main-about-us-img {
  background-image: url(../images/barber-img-main-about-us.jpg);
  background-size: cover;
  position: relative;
  z-index: 2;
  width: 400px;
  height: 250px;
  border-radius: 2px;
  top: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.landing-page_main .landing-page_main-about-us .landing-page_main-about-us-content .landing-page_main-about-us-title {
  position: relative;
  font-size: 48px;
  left: -50px;
  top: -25px;
}
.landing-page_main .landing-page_main-about-us .landing-page_main-about-us-content .landing-page_main-about-us-title::after {
  content: "";
  position: absolute;
  width: 50%;
  left: 0px;
  bottom: 5px;
  height: 3px;
  background-color: #CBA009;
}
.landing-page_main .landing-page_main-about-us .landing-page_main-about-us-content .landing-page_main-about-us-text {
  position: relative;
  z-index: 1;
  width: 800px;
  height: 300px;
  border-radius: 2px;
  background-color: #FFE200;
  margin-left: -50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.landing-page_main .landing-page_main-about-us .landing-page_main-about-us-content .landing-page_main-about-us-text p {
  padding: 10px 10px 10px 100px;
  color: black;
}

/* Main Service Schedule */
.landing-page_main-service_schedule {
  background-image: url(../images/background-second-barber-example.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow {
  background-color: rgba(0, 0, 0, 0.85);
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content {
  padding: 5rem 0 7rem 0;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service {
  padding: 0 9rem;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service img {
  width: 75px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .landing-page_main-service-title {
  position: relative;
  padding: 0px 20px;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .landing-page_main-service-title::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 2px;
  height: 3px;
  background-color: #CBA009;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-service .service {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page_main-service_schedule .landing-page_main-service_schedule_shadow .service_schedule-content .landing-page_main-schedule .schedule {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

/* Footer Styles */

/*# sourceMappingURL=style.css.map */
