/* Main About Us */
.landing-page_main {
    overflow-x: hidden;
    .landing-page_main-about-us {
        .landing-page_main-about-us-content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 64px;
            padding-bottom: 64px;
            .landing-page_main-about-us-img {
                transition: transform 0.4s ease-in-out;
                background-image: url(../images/barber-img-main-about-us.jpg);
                background-size: cover;
                position: relative;
                z-index: 2;
                min-width: 400px;
                min-height: 250px;
                border-radius: 2px;
                top: 30px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            }
            .landing-page_main-about-us-info {
                transition: transform 0.4s ease-in-out;
            }
            .landing-page_main-about-us-title {
                position: relative;
                font-size: 48px;
                left: -50px;
                top: -25px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 50%;
                    left: 0px;
                    bottom: 5px;
                    height: 3px;
                    background-color: #CBA009;
                }
            }
            .landing-page_main-about-us-text {
                position: relative;
                z-index: 1;
                width: 800px;
                height: 300px;
                border-radius: 2px;
                background-color: #FEAC10;
                margin-left: -50px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                p {
                    padding: 10px 10px 10px 100px;
                    color: black;
                }
            }
        }
    }
}
