/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Fonts */
.font-montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-bebas-neue-400 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-varela-round-bold {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    font-style: normal;
  }

/* Header & Nav Styles */
.landing-page_width-limit {
    margin: 0 auto;
    max-width: 1680px;
}

.landing-page_header-background {
    background-image: url(images/background-barber-example.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.landing-page_header-shadow {
    background-color: rgba(0, 0, 0, 0.7);
}

.landing-page_header-nav {
    height: 100px;
}

.landing-page_header-nav img {
    height: 100px;
}

.landing-page_header-nav-img {
    filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
}

.landing-page_header-nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 2px 17px;
    text-shadow: 1px 1px 5px #000000;
    position: relative;
    transition: color 0.3s ease;
}

.landing-page_header-nav-menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: #CBA009;
    transition: width 0.3s ease, left 0.3s ease;
}

.landing-page_header-nav-menu a:hover {
    color: #CBA009;
}

.landing-page_header-nav-menu a:hover::after {
    width: 100%;
    left: 0;
}

.landing-page_header-nav-social a {
    display: inline-block;
    background-color: #FFE200;
    color: black;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    transition: transform 200ms ease;
    width: 30px;
    height: 30px;
}

.landing-page_header-nav-social a:hover {
    transform: scale(1.1);
}

/* Header & Main Styles */
.landing-page_header-main-title {
    margin-top: 64px;
}

.landing-page_header-main-title-one {
    font-size: 55px;
    margin-bottom: -30px;
}

.landing-page_header-main-title-two {
    position: relative;
    font-size: 110px;
    padding: 0px 20px;
}

.landing-page_header-main-title-two::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    height: 4px;
    background-color: #CBA009;
}

.landing-page_header-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.landing-page_header-main-img {
    background-image: url(images/barber-img-header-main.webp);
    background-size: cover;
    position: relative;
    z-index: 2;
    width: 550px;
    height: 366px;
    border: 3px solid #CBA009;
    border-radius: 5px;
    margin-right: -50px;
}

.landing-page_header-main-info {
    position: relative;
    z-index: 1;
    width: 550px;
    height: 366px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: -100px;
    margin-left: -50px;
}

.landing-page_header-main-info-content {
    padding: 20px;
    width: 450px;
}

.landing-page_header-main-info h5 {
    font-size: 35px;
}

.landing-page_header-main-info a {
    background-color: #CBA009;
    border: 2px solid #CBA009;
    font-weight: bold;
}

.landing-page_header-main-info a:hover {
    border: 2px solid white;
}

.landing-page_header-main-info a .bi::before {
    vertical-align: top;
    margin-top: 4px;
}

/* Header & Main Styles */